html, body {
    height: 100%;
}
body {
    background-color: #fff;
    background: radial-gradient(circle at center, #fff 0%, #f8f8f8 75%, #ebebeb 100%);
    color: #222;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    padding: 1rem;
    text-align: center;
}
h1 {
    font-size: 2.5rem;
    line-height: 1.1;
    margin: 0;
}
@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }
}
h1::after {
    content: "";
    background-color: #ffe800;
    background: repeating-linear-gradient(45deg, #ffe800, #ffe800 0.5rem, #222 0.5rem, #222 1.0rem);
    display: block;
    height: 0.5rem;
    margin-top: 1rem;
    animation: slide 20s infinite linear forwards;
    background-size: 200% 100%;
}
@keyframes slide {
    0% {
        background-position-x:0%;
    }
    100% {
        background-position-x:100%;
    }
}
/* img {
    max-width: 100%;
    height: auto;
}
p {
    margin: 1rem 0 0 0;
} */
.sidenav {
    height: 100%;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed;
    z-index: 1;
    top: 12px;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 0px;
    transition: 0.5s;
}
.sidenav a {
    padding: 10px 30px; /*top right*/
    text-decoration: none;
    font-size: 20px;
    color: #f8f8f8;
    display: block;
    transition: 0.3s;
}
.no-bullets {
    list-style-type: none;
}
.togglebtn {
    text-align: left;
    height: 3%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    color: #f8f8f8;
}